.container{
display: flex;
justify-content: center;
    align-items: center;
  .gird_container{
    display:grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 50px;
    .card_container{

      .card_details{
        transition: all 0.5s ease;
          img{
              border-radius: 10px;
          }
          &:hover{
            transform:scale(1.25);
          }
    }
    }
}
   
  }

